.box {
    background-color:#006CFA ;
    color: #fff;
    text-align: center;
    padding: 10px;
    border: 1px solid #fff;
    min-height: 35px;
}

.box .box {
    background-color:#00E165;
    border: 1px solid #006CFA;
}

.mar-bottom-20 {
    margin-bottom: 20px;
}